<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Team Y</title>
    <link href="/build/style/bundle.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
</head>
<body>
    @RenderBody()
    <script src="/build/js/bundle.js"></script>
</body>
</html>