@model TeamY.Models.LunchModel
@{
    Layout = "/Views/Shared/_LayoutSimple.cshtml";
    ViewBag.Title = "Home Page";
}
<div id="wrapper">
    <header>
        <div class="nav">
            <ul>
                <li><a href="#">LunchManager</a></li>
            </ul>
        </div>
    </header>
    <main>
        <section class="overview">
            <div class="lunch--table">
                @using (Html.BeginForm("Add", "LunchManager", Model))
                {
                @Html.AntiForgeryToken()
                <p>Date: @Html.EditorFor(model => model.Date, new { htmlAttributes = new { placeholder = "2016-00-00" } })<br /></p>
                    <p>Menu: @Html.TextAreaFor(model => model.Menu)<br /></p>
                    <p>Image: @Html.EditorFor(model => model.ImageSrc)<br /></p>
                <input type="submit" value="Save" />
                }
            </div>
        </section>
    </main>
</div>