@model TeamY.Models.LunchModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}
<div id="wrapper">
    <header>
        <div class="nav">
            <ul>
                <li><a href="#">LunchManager</a></li>
            </ul>
        </div>
    </header>
    <main>
        <section class="overview">
            <div class="lunch--table">
                @using (Html.BeginForm("Add", "LunchManager", Model))
                {
                    @Html.AntiForgeryToken()
                    @Html.EditorForModel(Model)
                    <input type="submit" value="Save" />
                }
            </div>
        </section>
    </main>
</div>