@model IEnumerable<TeamY.Domain.Lunch>

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}
<div id="wrapper">
    <header>
        <div class="nav">
            <ul>
                <li><a href="#">LunchManager</a></li>
            </ul>
        </div>
    </header>
    <main>
        <section class="overview">
            <div class="lunch--table">
                @Html.ActionLink("Add new", "Add")
                <ul>
                    @foreach (var lunch in Model)
                    {
                        <li>@lunch.Date.ToLongDateString() @Html.ActionLink("Delete", "Delete", new { id = lunch.Id })</li>
                    }
                </ul>
            </div>
        </section>
    </main>
</div>