@model IEnumerable<TeamY.Domain.Lunch>
<div>
    <header><h1>LunchManager</h1></header>
    <ul>
        @foreach (var lunch  in Model)
        {
            <li>@lunch.Date.ToLongDateString() <a href="">Delete</a></li>
        }
    </ul>
</div>