@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";   
}

@model TeamY.Models.HomeModel
<div id="wrapper">
    <header>
        <div class="nav">
            <ul>
                <li><a href="#">Codehouse</a></li>
                <li><a href="#">Team 1</a></li>
                <li><a href="#">Team 2</a></li>
                <li><a href="#">Team 3</a></li>
                <li><a href="#">Team 4</a></li>

            </ul>
        </div>
    </header>
    <main>
        <!-- BEGIN: Overview -->
        <section class="overview">
            <div class="location--table"></div>
            <div class="mood--table"></div>
            <div class="lunch--table"></div>
        </section>
        <!-- END: Overview -->
        <!-- BEGIN: Location settings -->
        <section class="location--settings">
            <div class="location--settings--container">
                <div class="profile-img"> <img src="http://www.codehouse.com/~/media/Codehouse/240x240/240x240-Martin-P.ashx" alt="">
                </div>
                <div class="profile-settings">
                    <div class="location">
                        <div class="title">Status</div>
                        <div class="option">
                            <select>
                                <option value="work">Work</option>
                                <option value="home">Home</option>
                            </select>
                        </div>
                    </div>
                    <div class="mood">
                        <div class="title">Mood</div>
                        <div class="option">
                            <!--http://designwithpc.com/Plugins/ddSlick or http://www.marghoobsuleman.com/jquery-image-dropdown -->
                            <select>
                                <option value="happy" data-image="/img/icons/happy.png">Happy</option>
                                <option value="not happy" data-image="/img/icons/nothappy.png">Not Happy</option>
                            </select>
                            <i class="icon-emoticons-03"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END: Location settings -->
        <!-- BEGIN: Mood stats -->
        <section class="mood--stats">
            <div class="mood--stats--container">
                <div class="data-list">
                    <ul>
                        <!--BEGIN Profile -->
                        <li>
                            <div class="profile-img"><img src="http://www.codehouse.com/~/media/Codehouse/240x240/240x240-Martin-P.ashx" alt="">
                            </div>
                            <div class="profile--mood--icon">
                                <i class="icon-emoticons-03"></i>
                            </div>
                        </li>
                        <!--END Profile -->
                        <!--BEGIN Profile -->
                        <li>
                            <div class="profile-img">
                                <img src="http://www.codehouse.com/~/media/Codehouse/240x240/240x240-Martin-P.ashx" alt="">
                            </div>
                            <div class="profile--mood--icon">
                                <i class="icon-emoticons-03"></i>
                            </div>
                        </li>
                        <!--END Profile -->
                        <!--BEGIN Profile -->
                        <li>
                            <div class="profile-img">
                                <img src="http://www.codehouse.com/~/media/Codehouse/240x240/240x240-Martin-P.ashx" alt="">
                            </div>
                            <div class="profile--mood--icon">
                                <i class="icon-emoticons-03"></i>
                            </div>
                        </li>
                        <!--END Profile -->
                    </ul>
                </div>
            </div>
        </section>
        <!-- END: Mood stats -->
        <!-- BEGIN: Location stats -->
        <section class="location--details">
            <div class="location--details--container">
                <div class="data-list">
                    <ul>
                        <!--BEGIN Profile -->
                        <li>
                            <div class="profile-img">
                                <img src="http://www.codehouse.com/~/media/Codehouse/240x240/240x240-Martin-P.ashx" alt="">
                            </div>
                            <div class="profile-location">Work</div>
                            <div class="profile--mood--icon">
                                <i class="icon-emoticons-03"></i>
                            </div>
                        </li>
                        <!--END Profile -->
                        <!--BEGIN Profile -->
                        <li>
                            <div class="profile-img">
                                <img src="http://www.codehouse.com/~/media/Codehouse/240x240/240x240-Martin-P.ashx" alt="">
                            </div>
                            <div class="profile-location">Work</div>
                            <div class="profile--mood--icon">
                                <i class="icon-emoticons-03"></i>
                            </div>
                        </li>
                        <!--END Profile -->
                        <!--BEGIN Profile -->
                        <li>
                            <div class="profile-img">
                                <img src="http://www.codehouse.com/~/media/Codehouse/240x240/240x240-Martin-P.ashx" alt="">
                            </div>
                            <div class="profile-location">Work</div>
                            <div class="profile--mood--icon">
                                <i class="icon-emoticons-03"></i>
                            </div>
                        </li>
                        <!--END Profile -->
                    </ul>
                </div>
            </div>
        </section>
        <section class="mood--details"></section>
    </main>
    <footer></footer>
</div> 