@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";   
}

@model TeamY.Models.HomeModel
<div id="wrapper">
    <header>
        <div class="nav">
            <ul>
                <li>Codehouse</li>
                <li>Team 1</li>
                <li>Team 2</li>
                <li>Team 3</li>
                <li>Team 4</li>
            </ul>
        </div>
    </header>
    <main>
        <section class="overview">
            <div class="location--table"></div>
            <div class="mood--table"></div>
            <div class="lunch--table"></div>
        </section>
        <section class="location--settings">
            <div class="location--settings--container">
                <div class="profile-img"> <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=200%C3%97200&w=200&h=200" alt=""> </div>
                <div class="profile-settings">
                    <div class="location">
                        <div class="title">Status</div>
                        <div class="option">
                            <select>
                                <option value="work">Work</option>
                                <option value="home">Home</option>
                            </select>
                        </div>
                    </div>
                    <div class="mood">
                        <div class="title">Mood</div>
                        <div class="option">
                            <!--http://designwithpc.com/Plugins/ddSlick or http://www.marghoobsuleman.com/jquery-image-dropdown -->
                            <select>
                                <option value="happy" data-image="/img/icons/happy.png">Happy</option>
                                <option value="not happy" data-image="/img/icons/nothappy.png">Not Happy</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mood--stats">
            <div class="mood--stats--container">
                <div class="data-list">
                    <ul>
                        <li>
                            <div class="profile-img"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=200%C3%97200&w=200&h=200" alt=""></div>
                            <div class="profile--mood--icon"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="location--details">
            <div class="location--details--container">
                <ul>
                    <li>
                    </li>
                </ul>
            </div>
        </section>
        <section class="mood--details"></section>
    </main>
    <footer></footer>
</div> 