@font-face {
    font-family: 'hack-icon-font';
    src:
        url('/build/fonts/hack-icon-font.ttf') format('truetype'),
        url('/build/fonts/hack-icon-font.woff') format('woff'),
        url('/build/fonts/hack-icon-font.svg#hack-icon-font') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'hack-icon-font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chair:before {
    content: "\e904";
}
.icon-smoking:before {
    content: "\e905";
}
.icon-sick:before {
    content: "\e906";
}
.icon-home:before {
    content: "\e907";
}
.icon-business:before {
    content: "\e900";
}
.icon-lunch:before {
    content: "\e903";
}
.icon-codehouse:before {
    content: "\e908";
}
.icon-pandora:before {
    content: "\e909";
}
.icon-galaxy:before {
    content: "\e901";
}
.icon-lego:before {
    content: "\e902";
}
.icon-cross:before {
    content: "\e90e";
}
.icon-arrow-down:before {
    content: "\e926";
}
.icon-arrow-right:before {
    content: "\e927";
}
.icon-arrow-left:before {
    content: "\e928";
}
.icon-arrow-up:before {
    content: "\e929";
}
.icon-burger:before {
    content: "\e92a";
}
.icon-mad:before {
    content: "\e92f";
}
.icon-yelling:before {
    content: "\e92b";
}
.icon-unhappy:before {
    content: "\e932";
}
.icon-stressed:before {
    content: "\e92e";
}
.icon-less-happy:before {
    content: "\e931";
}
.icon-neutral:before {
    content: "\e933";
}
.icon-okay:before {
    content: "\e930";
}
.icon-good:before {
    content: "\e935";
}
.icon-happy:before {
    content: "\e92c";
}
.icon-clever:before {
    content: "\e92d";
}

