@import "normalize.scss";
@import "mixins.scss";

body {
	background-color: #faf8e9;
	color: #bb0808;
	font-family:"Open Sans", sans-serif;
}
header {
    .nav {
        ul {list-style:none; margin:0;padding:0;
            li {list-style:none; margin:0;padding:3px 10px;display:inline-block; border:1px solid red;}
        }
    }
}
