@import "normalize.scss";
@import "mixins.scss";
@import "icon-font.scss";

$light-yellow: #faf8e9;
$red: #bb0808;




body {
    background-color: $light-yellow;
    color: $red;
    font-family: "Open Sans", sans-serif;
}

.error {
    border-color: $red;
    border-left: 1px solid;
    padding-left: 5px;
}

#wrapper {
    width: 1024px;
    margin: 0 auto;
    background-color: white;
    padding: 16px;
    margin-top: 125px;

    &.no-bg {
        background-color: transparent;
    }
}

#top-nav {
    position: fixed;
    padding: 8px 0;
    height: 90px;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
    -webkit-box-shadow: 0 4px 30px -2px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 4px 30px -2px rgba(0,0,0,0.6);
    box-shadow: 0 4px 30px -2px rgba(0,0,0,0.6);
}

.login-box {
    width: 320px;
    margin: 50px auto;
    padding: 15px 20px;
    background-color: white;
    -webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.5);

    .login-box--content {
        .txt-username {
            display: block;
            margin: 0;
            width: 90%;
            font-size: 18px;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            box-shadow: none;
            border-radius: none;
            padding: 10px;
            border: solid 5px #c9c9c9;
            -moz-transition: border 0.3s;
            -o-transition: border 0.3s;
            -webkit-transition: border 0.3s;
            transition: border 0.3s;
            margin-top: 10px;


            &:focus {
                border: solid 5px #969696;
                outline: none;
            }
        }

        .btn {
            text-align: right;
        }

        .btn-login {
            padding: 6px 14px;
            display: inline-block;
            background-color: $red;
            border-radius: 2px;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            border: none;
            color: white;

            &:hover {
                -webkit-box-shadow: inset 11px 10px 14px -9px rgba(0,0,0,0.45);
                -moz-box-shadow: inset 11px 10px 14px -9px rgba(0,0,0,0.45);
                box-shadow: inset 11px 10px 14px -9px rgba(0,0,0,0.45);
            }

            &:focus {
                outline: none;
            }
        }
    }
}

header {
    width: 1024px;
    margin: 0 auto;

    .icon-codehouse {
        font-size: 40px;
        padding-bottom: 10px;
        display: inline-block;
    }

    .username {
        display: inline-block;
        text-align: right;
        float: right;
        margin-top: 11px;

        p {
            margin: 8px 0;
        }

        a {
            padding: 6px 14px;
            display: inline-block;
            background-color: $red;
            border-radius: 2px;
            color: white;
            text-decoration: none;

            &:hover {
                -webkit-box-shadow: inset 11px 10px 14px -9px rgba(0,0,0,0.45);
                -moz-box-shadow: inset 11px 10px 14px -9px rgba(0,0,0,0.45);
                box-shadow: inset 11px 10px 14px -9px rgba(0,0,0,0.45);
            }
        }
    }

    .nav {
        display: inline-block;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                margin: 0;
                padding: 6px 14px;
                display: inline-block;
                background-color: $red;
                border-radius: 2px;

                &:hover {
                    -webkit-box-shadow: inset 11px 10px 14px -9px rgba(0,0,0,0.45);
                    -moz-box-shadow: inset 11px 10px 14px -9px rgba(0,0,0,0.45);
                    box-shadow: inset 11px 10px 14px -9px rgba(0,0,0,0.45);
                }

                a {
                    color: white;
                    text-decoration: none;

                    i {
                        font-size: 21px;
                        margin-left: 10px;
                        vertical-align: sub;
                        display: inline;
                    }
                }
            }
        }
    }
}

main {
    section {
        clear: both;
    }

    .overview {
        .location--table {
            width: 45%;
            display: inline-block;
            vertical-align: top;
            padding: 10px;
            margin: 12px 0;
            border: 1px dotted $red;
            -webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.5);
            -moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.5);
            box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.5);
            min-height: 330px;

            .location-stats {
                .data-list {
                    float: none;

                    ul {
                        list-style: none;
                        margin: 0;
                        padding: 0;

                        li {
                            list-style: none;



                            i {
                                font-size: 30px;
                                display: inline-block;
                                vertical-align: sub;
                                padding: 15px;
                            }

                            span {
                                font-size: 26px;
                                display: inline-block;
                                margin: 0 6px;
                            }
                        }

                        .location--title {
                            display: inline-block;
                            vertical-align: top;
                            padding: 15px;
                        }

                        .location-count {
                            display: inline-block;
                            vertical-align: top;
                            padding: 15px;
                        }
                    }
                }

                a {
                    float: right;
                    padding: 6px 14px;
                    display: inline-block;
                    background-color: $red;
                    border-radius: 2px;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    appearance: none;
                    border: none;
                    color: white;
                    text-decoration: none;

                    &:hover {
                        -webkit-box-shadow: inset 11px 10px 14px -9px rgba(0,0,0,0.45);
                        -moz-box-shadow: inset 11px 10px 14px -9px rgba(0,0,0,0.45);
                        box-shadow: inset 11px 10px 14px -9px rgba(0,0,0,0.45);
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        .mood--table {
            width: 45%;
            display: inline-block;
            vertical-align: top;
            padding: 10px;
            margin: 12px 0;
            border: 1px dotted $red;
            -webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.5);
            -moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.5);
            box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.5);
            min-height: 330px;

            .mood-stats {
                .mood-container {
                    float: none;
                    padding-bottom: 108px;

                    .mood-icon {
                        display: inline-block;
                        width: 45%;
                        text-align: center;
                        padding-top: 35px;

                        i {
                            font-size: 96px;
                        }
                    }

                    .mood-data {
                        display: inline-block;
                        width: 45%;
                        font-size: 115px;
                    }
                }
            }

            a {
                float: right;
                padding: 6px 14px;
                display: inline-block;
                background-color: $red;
                border-radius: 2px;
                -moz-appearance: none;
                -webkit-appearance: none;
                appearance: none;
                border: none;
                color: white;
                text-decoration: none;

                &:hover {
                    -webkit-box-shadow: inset 11px 10px 14px -9px rgba(0,0,0,0.45);
                    -moz-box-shadow: inset 11px 10px 14px -9px rgba(0,0,0,0.45);
                    box-shadow: inset 11px 10px 14px -9px rgba(0,0,0,0.45);
                }

                &:focus {
                    outline: none;
                }
            }
        }

        .lunch--table {
            width: 45%;
            display: inline-block;
            vertical-align: top;
            padding: 10px;
            margin: 12px 0;
            border: 1px dotted $red;
            -webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.5);
            -moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.5);
            box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.5);
            min-height: 330px;

            .lunch-stats {
                i {
                    margin-left: 15px;
                }

                .lunch-content {
                    width: 100%;
                    margin-bottom: 20px;
                }

                a {
                    float: right;
                    padding: 6px 14px;
                    display: inline-block;
                    background-color: $red;
                    border-radius: 2px;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    appearance: none;
                    border: none;
                    color: white;
                    text-decoration: none;

                    &:hover {
                        -webkit-box-shadow: inset 11px 10px 14px -9px rgba(0,0,0,0.45);
                        -moz-box-shadow: inset 11px 10px 14px -9px rgba(0,0,0,0.45);
                        box-shadow: inset 11px 10px 14px -9px rgba(0,0,0,0.45);
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        .deployment--table {
            width: 45%;
            display: inline-block;
            vertical-align: top;
            padding: 10px;
            margin: 12px 0;
            border: 1px dotted $red;
            -webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.5);
            -moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.5);
            box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.5);
            min-height: 330px;

            ul {
                list-style: none;
                margin: 0 0 20px 0;
                padding: 0;

                li {
                    padding: 5px 10px;
                    list-style: none;
                    background-color: #e9e8e7;
                    color: black;
                    font-weight: bold;

                    &:nth-child(even) {
                        background-color: #d9d8d5;
                    }

                    span {
                        font-weight: normal;
                        display: block;
                    }
                }
            }
        }

        div {
            &:nth-child(even) {
                float: right;
            }
        }
    }

    .location {
        @include m('settings') {
            padding: 10px;
            margin: 12px 0;
            border: 1px dotted $red;
            -webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.5);
            -moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.5);
            box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.5);

            @include m('container') {
                div {
                    vertical-align: top;
                }

                .profile-img {
                    display: inline-block;
                    margin-right: 10px;

                    img {
                        display: block;
                        width: 150px;
                        height: auto;
                    }
                }

                .profile-settings {
                    display: inline-block;

                    .location {
                        padding: 10px 0;

                        .title {
                            margin-right: 10px;
                            display: inline-block;
                            font-weight: bold;
                        }

                        .option {
                            display: inline-block;
                        }
                    }

                    .mood {
                        padding: 10px 0;

                        .title {
                            margin-right: 10px;
                            display: inline-block;
                            font-weight: bold;
                        }

                        .option {
                            display: inline-block;

                            i {
                                margin-left: 20px;
                                font-size: 20px;
                                vertical-align: text-top;
                            }
                        }
                    }
                }
            }
        }
    }

    .mood--stats {
        padding: 10px;
        margin: 12px 0;
        border: 1px dotted $red;
        -webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.5);
        -moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.5);
        box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.5);

        .mood--stats--container {
            .data-list {
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        list-style: none;

                        .profile-img {
                            display: inline-block;

                            img {
                                width: 60px;
                                height: auto;
                            }
                        }

                        .profile--mood--icon {
                            display: inline-block;
                            vertical-align: top;
                            padding: 15px;

                            i {
                                font-size: 30px;
                            }
                        }
                    }
                }
            }
        }
    }

    .location--details {
        padding: 10px;
        margin: 12px 0;
        border: 1px dotted $red;
        -webkit-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.5);
        -moz-box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.5);
        box-shadow: 10px 10px 5px -8px rgba(0,0,0,0.5);

        .location--details--container {
            .data-list {
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        list-style: none;

                        .profile-img {
                            display: inline-block;

                            img {
                                width: 60px;
                                height: auto;
                            }
                        }

                        .profile-location {
                            display: inline-block;
                            vertical-align: top;
                            padding: 15px;
                        }

                        .profile--mood--icon {
                            display: inline-block;
                            vertical-align: top;
                            padding: 15px;

                            i {
                                font-size: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}
